version: '3.7'

services:

  nginx-proxy:
            image: nginx-proxy
            ports:
              - "80:80"
              - "443:443"
#            hostname: 'nginx-proxy'
            container_name: nginx-proxy
            volumes:
              - /var/run/docker.sock:/tmp/docker.sock:ro
              - ./certs/:/etc/nginx/certs
              - ./nginx-proxy/nginx.tmpl:/app/nginx.tmpl
              - ./juice.log:/var/log/nginx/juice.log
            networks:
              the_net:
                 ipv4_address: 172.16.238.2

  evilginx:
            image: evilginx
 #           hostname: 'evilginx'
            container_name: evilginx
            init: true
            tty: true
            volumes:
              - ./evilginx/config:/root/.evilginx/
              - ./evilginx/phishlets:/opt/evilginx/phishlets
            environment:
                - VIRTUAL_HOST=evilginx_hosts
                - VIRTUAL_PROTO=https
                - VIRTUAL_PORT=443
            networks:
              the_net:
                 ipv4_address: 172.16.238.3

  gophish:
            image: gophish
  #          hostname: 'gophish'
            container_name: gophish
            init: true
            volumes:
              - ./gophish/gophish.db:/opt/gophish/gophish.db
            environment:
                - VIRTUAL_HOST=gophish_host
                - VIRTUAL_PROTO=https
                - VIRTUAL_PORT=80
            networks:
              the_net:
                 ipv4_address: 172.16.238.4

networks:
    the_net:
      ipam:
        driver: default
        config:
          - subnet: "172.16.238.0/24"
